<h1
  class="text-primary bg-warning p-3 rounded shadow text-center"
>
  Brokkolis üdvözletem
</h1>

<h4>Brokkolis csirkemell</h4>
<p>Brokkolis csirkemell receptje</p>
<ul>
  <li>Brokkoli</li>
  <li>Csirkemell</li>
  <li>Fokhagyma</li>
  <li>Tejszín</li>
  <li>Sajt</li>
</ul>

<p>Brokkolis csirkemell elkészítése</p>
<ol>
  <li>Brokkolit megfőzzük.</li>
  <li>Csirkemellet felkockázzuk, fokhagymát aprítjuk.</li>
  <li>Serpenyőben megpirítjuk a csirkemellet és a fokhagymát.</li>
  <li>Hozzáadjuk a tejszínt és a sajtot, majd összeforraljuk.</li>
  <li>Brokkolit hozzáadjuk a csirkemellhez, összeforgatjuk és tálaljuk.</li>
</ol>
<p>Jó étvágyat kívánok!</p>

<p>Brokkolis üdvözletem vége</p>
