<!-- <h2 class="mb-3 text-primary p-3 text-center">Kezdj bele még ma!</h2> -->
<p class="text-muted mb-4 text-center">
  Kattints bármelyik kártyára a lenti menüben és kezdd el használni az alkalmazást.
</p>

<div>
	 <!-- row 1 -->
  <div class="d-flex flex-wrap gap-3 justify-content-center"> 
   
    <!-- card 1 -->
    <div class="card border-success mb-3 card-clickable" routerLink="/userdashboard">
      <div class="card-header bg-transparent border-success">
        Profilbeállítások
      </div>
      <div class="card-body text-success">
        <p class="card-text">
          Felhasználónév, e-mail, jelszó, értesítési beállítások és megjelenési
          preferenciák.
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">
        Profiloldal, beállítások
      </div>
    </div>
    <!-- card 2 -->
    <div class="card border-success mb-3 card-clickable" routerLink="/">
      <div class="card-header bg-transparent border-success">Tranzakciók</div>
      <div class="card-body text-success">
        <p class="card-text">
          Különböző tranzakciók, listák, beleértve a vásárlásokat és a
          kifizetéseket.
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">
        Tranzakciós oldal, részletek
      </div>
    </div>
    <!-- card 3 -->
    <div class="card border-success mb-3 card-clickable" routerLink="/">
      <div class="card-header bg-transparent border-success">Új tranzakció</div>
      <div class="card-body text-success">
        <p class="card-text">
          Új tranzakció létrehozása, új bevétel vagy kiadások és kifizetések.
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">
        Új bevétel vagy kiadás
      </div>
    </div>
  </div>

  <!-- row 2 -->
  <div class="d-flex flex-wrap gap-3 justify-content-center">
    <!-- card 4 -->
    <div class="card border-success mb-3 card-clickable" routerLink="/">
      <div class="card-header bg-transparent border-success">
        Költségkeretek
      </div>
      <div class="card-body text-success">
        <p class="card-text">
          Különböző költségkeretek, limitek és költségvetési beállítások.
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">
        Havi költségkeretek kategóriánként
      </div>
    </div>
    <!-- card 5 -->
    <div class="card border-success mb-3 card-clickable" routerLink="/">
      <div class="card-header bg-transparent border-success">Statisztikák</div>
      <div class="card-body text-success">
        <p class="card-text">
          Statisztikák a költségvetésről, beleértve a kiadásokat és bevételeket.
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">
        Statisztikák és riportok
      </div>
    </div>
    <!-- card 6 -->
    <div class="card border-success mb-3 card-clickable" routerLink="/">
      <div class="card-header bg-transparent border-success">Exportálás</div>
      <div class="card-body text-success">
        <p class="card-text">
          Költségvetési adatok exportálása különböző formátumokban. (CSV/ PDF)
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">
        Adatok Exportálás
      </div>
    </div>
  </div>
</div>

<div>
  <p >
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsum eius
    aut esse repellat sequi molestias velit ipsam. Alias, atque! Nam corporis
    eligendi ipsam debitis quae. Vitae deserunt ut eos. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Nobis voluptas quas commodi culpa sed tempore,
    consequatur exercitationem quis ipsa rerum fuga obcaecati dignissimos impedit ea
    officiis ab sint! Cupiditate, omnis.
  </p> 
  <p >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quod iusto 
    voluptatibus veritatis vel, nemo ea sint quasi maxime repudiandae dolorem, 
    deserunt repellendus cupiditate temporibus, incidunt necessitatibus tenetur 
    quidem exercitationem.
  </p>
  <p >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ipsam odit 
    mollitia, quae delectus facere, dolorem consectetur ut sapiente inventore 
    accusamus molestiae. Rerum ducimus neque maxime adipisci alias harum molestias?
  </p>
</div>

